/* stylizacja sekcji Home - baner Hero */
/* tło */
.bgImage{
  height: 100vh;
  background: url('./images/heroPhoto.jpeg');
  background-size: cover;
  position: relative;
}
/* tytuł i opis */
.hero-text{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: lightgray; /*TODO: poprawić kolory*/
}
.hero_title{
  font-size: 4.5rem;
}
.hero_desc{
  font-size: 2rem;
}

/* Stylizacja sekcj O mnie */
.aboutImage{
  width: 100%;
}

/* Sekcja certyfikatów */
.card.certyficateText{
  height: 280px;
  cursor: pointer;
}
.card.certificateIcon{
  font-size: 24px;
}
.card:hover .certificateIcon{
  color: greenyellow;
}
.card.certyficateText:hover{
  color: greenyellow;
  border: 1px solid rebeccapurple;
}
.card.certificate:hover .icoPhp{
  color: red;
}
